body {
    background-color: lightblue;;
}
.inner-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 250px;
    gap: 5px;
}
.outer-box {
    margin: 25px;
    padding: 25px;
    background-color: white;
}
.optional-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
p, h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
img {
    max-width: 200px;
    max-height: 200px;
}
.optional-box img {
    max-width: 100px;
    max-height: 50px;
    margin: 10px;
}